## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './Day_004_data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./Day_004_data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [14]:
out_df = app_train[app_train.loc[:,"AMT_CREDIT"] > 4000000.0]
print(out_df)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
14852       117337       0         Cash loans           M            N
17948       120926       0         Cash loans           M            Y
95571       210956       0         Cash loans           M            N
110459      228135       0         Cash loans           M            N
119681      238782       0         Cash loans           M            Y
120757      240007       0         Cash loans           M            N
133766      255139       0         Cash loans           F            Y
186230      315893       1         Cash loans           F            N
287732      433294       0         Cash loans           F            Y
288455      434170       0         Cash loans           F            Y

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
14852                Y             1          760846.5   4050000.0
17948                N             2          783000.0   4050000.0
95571                Y             0          430650.0   4031032.5
110459               N             2          864900.0   4050000.0
119681               Y             1          931365.0   4050000.0
120757               N             0          587250.0   4050000.0
133766               N             1         1307587.5   4050000.0
186230               N             0          458550.0   4027680.0
287732               N             1          405000.0   4050000.0
288455               N             1          450000.0   4050000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
14852      146002.5  ...                 0                0                0
17948      258025.5  ...                 0                0                0
95571      102033.0  ...                 0                0                0
110459     102384.0  ...                 0                0                0
119681     102514.5  ...                 0                0                0
120757     106969.5  ...                 0                0                0
133766     100197.0  ...                 1                0                0
186230     106380.0  ...                 0                0                0
287732     102514.5  ...                 0                0                0
288455     106839.0  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
14852                 0                        0.0                       0.0
17948                 0                        0.0                       0.0
95571                 0                        0.0                       0.0
110459                0                        0.0                       0.0
119681                0                        0.0                       0.0
120757                0                        0.0                       0.0
133766                0                        0.0                       0.0
186230                0                        NaN                       NaN
287732                0                        NaN                       NaN
288455                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
14852                          0.0                        0.0
17948                          0.0                        0.0
95571                          0.0                        0.0
110459                         0.0                        4.0
119681                         0.0                        0.0
120757                         0.0                        0.0
133766                         0.0                        0.0
186230                         NaN                        NaN
287732                         NaN                        NaN
288455                         0.0                        0.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
14852                         0.0                         0.0
17948                         0.0                         0.0
95571                         0.0                         0.0
110459                        0.0                         0.0
119681                        0.0                         0.0
120757                        0.0                         0.0
133766                        0.0                         2.0
186230                        NaN                         NaN
287732                        NaN                         NaN
288455                        0.0                         0.0

[10 rows x 122 columns]

In [15]:
app_train.index

RangeIndex(start=0, stop=307511, step=1)